
.nav-container {
    position: absolute;
    top: 5px;
    left: -80px;
    border-radius: 10px;
    width: 60px;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav1 , .nav2 {
    padding: 2rem 1.8rem;
    border-radius: 10px;
    background-color: rgba(222, 215, 215,0.5);
}